<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galeria Multimedia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color:#f0f0f0">
    <div style="background-color:Orange;">
        <h1 class="text-center" style="font-family: fantasy; color: white">Galería Multimedia</h1>
    </div>
    <form class="form-inline" style="background-color:white; margin: 1em">
        <div class="form-group col-lg-5" style="margin-top: 1em;">
            <label for="tipoMedio" class="text-bold">Tipo de medio:</label>
            <select id="tipoMedio" class="form-control col-lg-5" style="margin-left:1em">
                <option>Seleccionar...</option>
            </select>
        </div>
        <div class="form-group col-lg-5" style="margin-top: 1em">
            <label for="categoria">Categoria:</label>
            <select id="categoria" class="form-control col-lg-5 text-bold" style="margin-left:1em">
                <option>Seleccionar...</option>
            </select>
            </div>
            <div class="form-group col-lg-2">
                <input type="button" class="btn btn-primary" value="Login"/>
                <input type="button" class="btn btn-primary" value="Registro" style="margin-left:0.5em"/>
            </div>
        <div style="margin-left: 3em; margin-top: 2em; ">
            <div class="row">
            {% for multimedia in multimedia_list %}
            {% if multimedia.multimediaFile == None %}
                <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{multimedia.url}}" alt="{{multimedia.title}}" width="300px" height="300px">
                  <div class="card-body">
                      <p class="card-text"><b>Title:</b> {{multimedia.title}}<br/><b>Author:</b> {{multimedia.author}}</p>
                 </div>
                </div>
                </div>
            {% else %}
                <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="/{{multimedia.multimediaFile}}" alt="{{multimedia.title}}" width="300px" height="300px">
                  <div class="card-body">
                      <p class="card-text">Title: {{multimedia.title}}<br/>Author: {{multimedia.author}}</p>
                 </div>
                </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
    </div>
    </form>
</body>
</html>